
   <div id="header">
      <nav id="navbar">
         <ul id="main-menu" class="drop">
            <li>
               <a class="active" href='/#/newpost'>
               <img src="../images/pen.png" width="20%" alt=""/>
               New Post</a>
            </li>
            <li>
               <img src="../images/UserImg.png" width="100%" alt="Profile Pic"/>
            </li>
         </ul>
      </nav>
   </div> <!-- #header -->

   <div class="container-home" style="padding-top: 50px;">
   
      <div id="logo">
         <img src="../images/Logo.png" width="150px" alt="Profile Pic" />
      </div> <!-- #logo -->
      
      <div id="menu">
         <ul id="menu-bar"  class="drop">
            <li class="li-clear"><h1>MENU</h1></li>
            <li>
               <a class="menu-active" href='/#/timeline'>
                  <img src="../images/Timeline.png" alt="Profile Pic"/>
                  <div class="menu-div" id="TimeLineClass">Timeline</div>
               </a>
            </li>
            
            <li>
               <a class="menu-active" href="/">
                  <img src="../images/archive.png" alt="Profile Pic"/>
                  <div class="menu-div">Archive</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
                  <img src="../images/PublicBoard.png" alt="Profile Pic"/>
                  <div class="menu-div">Public Board</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
                  <img src="../images/PrivateMessages.png" alt="Profile Pic"/>
                  <div class="menu-div">Private Messages</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
               <img src="../images/Market.png" alt="Profile Pic"/>
               <div class="menu-div">Market</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
               <img src="../images/MyPosts.png" alt="Profile Pic"/>
               <div class="menu-div">My Posts</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
               <img src="../images/Settings.png" alt="Profile Pic"/>
               <div class="menu-div">Settings</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="javascript:void(0)" ng-click="logout()">
               <img src="../images/LogOut.png" alt="Profile Pic"/>
               <div class="menu-div">Log Out</div>
               </a>
            </li>            
         </ul>
      </div> <!-- #menu -->
      
      <div id="content">
      
         <div class="Posts">
            <h1 class="Papyrys-font darkbluecolor" style="font-size: 53px;">Create a new post</h1>
            <form method="post" ng-submit="publishpost()" name="PostForm">
               <div class="form-group" ng-class="{  'has-success' : PostForm.title.$valid && PostForm.title.$dirty, 
                                                   'has-error' : PostForm.title.$invalid && PostForm.title.$dirty }">
                  <label for="title">Title</label><br/>
                  <input class="form-control input-lg" type="text" id="title" name="title" 
                                                      ng-model="title" required autofocus><br/>   
                  <div class="help-block text-danger" ng-if="PostForm.title.$dirty" ng-messages="PostForm.title.$error">
                     <div ng-message="required">Your forgot to enter the title ...</div>
                  </div>
               </div><!-- .form-group -->
               <div class="form-group" ng-class="{  'has-success' : PostForm.Course.$valid && PostForm.Course.$dirty, 
                                                   'has-error' : PostForm.Course.$invalid && PostForm.Course.$dirty }">
                  <!-- <label for="Course">Course</label><br/> -->
               </div><!-- .form-group -->
               
               <div class="form-group" ng-class="{  'has-success' : PostForm.message.$valid && PostForm.message.$dirty, 
                                                   'has-error' : PostForm.message.$invalid && PostForm.message.$dirty }">
                  <label for="message">Message</label><br/>
                  <textarea class="form-control input-lg posttext" id="message" name="message" ng-model="message" required></textarea><br/>
                  <div class="help-block text-danger" ng-if="PostForm.message.$dirty" ng-messages="PostForm.message.$error">
                     <div ng-message="required">Your forgot to enter the message ...</div>
                  </div>
               </div><!-- .form-group -->
               
               <!-- Radio boxes Missing-->
               <div class="form-group" ng-class="{  'has-success' : PostForm.Questiontype.$valid && PostForm.Questiontype.$dirty, 
                                                   'has-error' : PostForm.Questiontype.$invalid && PostForm.Questiontype.$dirty }">
                  <label for="Questiontype">Type</label><br/>
                  <input type="radio" name="Questiontype" value="Private" ng-model="Questiontype" style="margin-left: 50px;">
                  <span class="glyphicon glyphicon-lock"><img src="../images/png/glyphicons_203_lock.png" alt="Profile Pic"/></span>
                  
                  <input uniform type="radio" name="Questiontype" ng-model="Questiontype" checked="true" value="Public" style="margin-left: 50px;">
                  <span class="glyphicon glyphicon-globe"><img src="../images/png/glyphicons_340_globe.png" alt="Profile Pic"/></span>
                  
                  <input type="radio" name="Questiontype" value="Market" ng-model="Questiontype" style="margin-left: 50px;">
                  <span class="glyphicon glyphicon-globe"><img src="../images/png/glyphicons_066_tags.png" alt="Profile Pic"/></span>
               </div><!-- .form-group -->
               
               
               <br/>
               <div class="OneHundredPercent">
                  <button type="submit" class="btn-type2 newpost" >Publish Post</button> <!-- ng-disabled="PostForm.$invalid" -->
               </div>
            </form>
            <br/>
         </div> <!-- .Posts -->
          
         
         <div class="Posts">
            <h1 class="Papyrys-font darkbluecolor" style="font-size: 45px;"> Review </h1>
            <h2>{{ title }}</h2>
            <p>
               {{ message }}
            </p>
            <br/>
            <hr/>
            <div class="Post-footer">
               <div class="time-div">{{date | date:"HH:mm:ss"}}</div>
               <div class="Splash1-div"> | </div>
               <div class="course-div">OOP344</div>
               <div class="public-private"><img src="../images/PublicBoard.png" alt="Profile Pic"/></div>
               <div class="flag-div"><img src="../images/flag-report.png" alt="Profile Pic"/></div>
               <div class="respond-div">Respond</div>
               <div class="archive-div">Archive</div>
            </div>
         </div> <!-- .Posts -->   
     
      </div><!-- #content -->
   </div><!-- .container -->
