
   <div id="header">
      <nav id="navbar">
         <ul id="main-menu" class="drop">
            <li>
               <a class="active" href="/#/NewPost">
               <img src="../images/pen.png" width="20%" alt=""/>
               New Post</a>
            </li>
            <li>
               <img src="../images/UserImg.png" width="100%" alt="Profile Pic"/>
            </li>
         </ul>
         <input class="input-lg searchbox" type="text" id="SearchText" name="SearchText" ng-model="SearchText" placeholder="Search All"><br/>   
      </nav>
   </div> <!-- #header -->

   <div class="container-home" style="padding-top: 50px;">
   
      <div id="logo">
         <img src="../images/Logo.png" width="150px" alt="Profile Pic" />
      </div> <!-- #logo -->
      
      <div id="menu">
         <ul id="menu-bar"  class="drop">
            <li class="li-clear"><h1>MENU</h1></li>
            <li>
               <a class="menu-active" href="/#/timeline">
                  <img src="../images/Timeline.png" alt="Profile Pic"/>
                  <div class="menu-div" id="TimeLineClass">Timeline</div>
               </a>
            </li>
            
            <li>
               <a class="menu-active" href="/">
                  <img src="../images/archive.png" alt="Profile Pic"/>
                  <div class="menu-div">Archive</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
                  <img src="../images/PublicBoard.png" alt="Profile Pic"/>
                  <div class="menu-div">Public Board</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
                  <img src="../images/PrivateMessages.png" alt="Profile Pic"/>
                  <div class="menu-div">Private Messages</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
               <img src="../images/Market.png" alt="Profile Pic"/>
               <div class="menu-div">Market</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
               <img src="../images/MyPosts.png" alt="Profile Pic"/>
               <div class="menu-div">My Posts</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="/">
               <img src="../images/Settings.png" alt="Profile Pic"/>
               <div class="menu-div">Settings</div>
               </a>
            </li>
            <li>
               <a class="menu-active" href="javascript:void(0)" ng-click="logout()">
               <img src="../images/LogOut.png" alt="Profile Pic"/>
               <div class="menu-div">Log Out</div>
               </a>
            </li>            
         </ul>
      </div> <!-- #menu -->
      
      <div id="content">
      
        <!--  <div class="Posts">
            <h2>Memory Allocation</h2>
            <p>
             I am having a hard time understanding this concept. Please explain in simple terms
            </p>
            <br/>
            <hr/>
            <div class="Post-footer">
               <div class="time-div">15 hours, 5:15AM</div>
               <div class="Splash1-div"> | </div>
               <div class="course-div">OOP344</div>
               <div class="public-private"><img src="../images/PublicBoard.png" alt="Profile Pic"/></div>
               <div class="flag-div"><img src="../images/flag-report.png" alt="Profile Pic"/></div>
               <div class="respond-div">Response</div>
               <div class="archive-div">Archive</div>
            </div>
         </div>  --><!-- .Posts -->
      
         <div class="Posts" ng-repeat="ques in QQuestions | filter:SearchText">
            <h2>{{ ques.Title }}</h2>
            <p>
               {{ ques.Question }}
            </p>
            <br/>
            <hr/>
            <div class="Post-footer">
               <div class="time-div">{{ ques.Date }}</div>
               <div class="Splash1-div"> | </div>
               <div class="course-div">OOP344</div>
               <div class="public-private"><img src="../images/PublicBoard.png" alt="Profile Pic"/></div>
               <div class="flag-div"><img src="../images/flag-report.png" alt="Profile Pic"/></div>
               <div class="respond-div">Respond</div>
               <div class="archive-div">Archive</div>
            </div>
         </div> <!-- .Posts -->
      </div><!-- #content -->
   </div><!-- .container -->
