<form name="userForm">
  <div class="field">
    <label for="emailAddress">Enter your email address:</label>
    <input type="email"
           name="emailAddress"
           ng-model="data.email"
           ng-minlength="5"
           ng-maxlength="30"
           required />

    <div ng-messages="userForm.emailAddress.$error">
      <div ng-message="required">You forgot to enter your email address...</div>
      <div ng-message="minlength">Your email address is too short...</div>
      <div ng-message="maxlength">Your email address is too long...</div>
      <div ng-message="email">You did not enter your email address correctly...</div>
    </div>
  </div>

  <input type="submit" />
</form>